.blog_detail_container{
    color: #7e7e7e;
    padding: 0 120px; 
    font-family: 'Old Standard TT';
    line-height: 1.7rem;
}
.blog_detail_p{
  
}
.blog_detail_p::first-letter{
    font-size: 4.5rem;
    font-family: 'Lobster';
}

.blog_detail_image_container{
    text-align: center;
}

.blog_detail_menu_title{
    font-weight: 600;
}
.blog_detail_guest_title{
    font-weight: 600;
}

@media(max-width:992px){
    .blog_detail_image_container{
        width: 80%;
    }

    .blog_detail_image{
        width: 100%;
    }
}